html{
	font-family:sans-serif;
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%;
}

body, html {
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.layout {
	width: 100%;
}

.selector {
	margin: 10px;
	display: flex;
	align-content: space-between;
	align-items: start;
}

.selector-wrapper {
	width: 100%;
	flex: 1 1 auto;
}

.logo {
	width: 100px;
	margin-left: 10px;
	margin-right: 20px;
}

.buttons {
	margin-left: 20px;
}

.selector__menu-list {
	overflow: auto;
	max-height: 125px !important;
}

.spacer {
	height: 140px;
}
